*{
    margin:0;
    padding:0;
}

.header{
    height:200px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/img1.jpg);
    background-size: cover;
    background-position: center;
   
    text-align: center;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    margin-right: 20px;
    
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  
  li a:hover:not(.active) {
    background-color:  rgb(127, 204, 127);
  }
  
  .active {
    background-color: #4CAF50;
  }
  .header img{
height: 100px;
width: 100px;
  }
  .login-btn{
      width: 100px;
      padding: 8px 0;
      outline: none !important;
      border-radius: 50px;
      background: transparent;
      color: white;
      float: right;
     margin-top: 7px;
     margin-right: 20px;
  }
  .header h2{
      padding-top: 80px;
      padding-bottom: 0px;
      font-size: 55px;
      font-style: oblique;
      
  }
  .header h1{
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 70px;
   padding-right: 270px;
}
  
 
.gallery{
    padding: 100px 0;
   
}
.gallery h1{
text-align: center;
padding-bottom: 30px;
color: #000;
}
.gallery-box img{
width: 100%;
height: 190px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1)
}
.gallery-box h4{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-shadow: -2px 2px 2px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}
.footer{
    padding: 70px 20px 20px;
    background-image: linear-gradient(#2d557d,#9610fd);
    color: white;
   
}
.footer-logo{
    width: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size:20px;
}
.footer hr{
    margin-top: 10px;
    background: #efefef;
}
.fa-copyright{
    margin: 0 5px;
}
.footer.copyright{
    text-align: center;
    font-size: 12px;
}
.pagination{
    
    margin-left: 500px;
}